.hamburger {
    visibility: hidden;
  }
.schedule-btn{
    padding: 1rem;
}

@media (max-width:760px) {
    .img-div{
        width: 3rem;
        height: 3rem;
        margin-left: 20px;
    }
    .schedule-btn{
        padding: 0.9rem 0.8rem;
        font-size: .7rem;
        border-radius: 15px;
        line-height: 14px;
        margin-right: 0rem;
    }
     .hamburger{
      visibility: visible;
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }
    .name{
        font-size: .8rem;   
        line-height: 13px;
        margin-right: 0;
    }
}

