@media screen and (min-width:250px) and (max-width: 760px) {
    .new-container{
        padding: 1rem 0;
    }
    .new-container h2{
        font-size: 1.5rem;
        margin: 0 0 10px 0;
        line-height: 25px;
    }
    .new-container p{
        font-size: .9rem;
        margin-bottom: 1rem;
    }
}