@media screen and (min-width: 250px) and (max-width: 760px) {
    .main{
        width: 100vw;
        padding: 0 1.3rem;
        
    }
    .main h2{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .container{
        flex-direction: column;
        width: 100%;
       
    }
    .profile-pic{
        width: 100px;
        height: 100px;
    }
    .file-icon{
        width: 1.7rem;
        height: 1.7rem;
        top: 70px;
        left: 80px;
    }
    .profile-container{
        width: 100%;
        margin: 2rem 0 0 0;
        padding: 0;
        
    }
    .pic-container{
       
        width: 100%;
    }
}