.navbar{
    height: 70px;
    /* background-color: red; */
    background-color: white;
    padding: 8px 60px 8px 0;
    width: 100vw;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    box-shadow: 3px -7px 34px -10px rgba(0,0,0,0.12);
-webkit-box-shadow: 3px -7px 34px -10px rgba(0,0,0,0.12);
-moz-box-shadow: 3px -7px 34px -10px rgba(0,0,0,0.12);
}

.home{
   
    width: 100vw;
    height: 100vh;
}


.body{
    background-color: #F5F5F5;
}


@media (max-width: 760px) {
    .navbar{
         padding: 8px 20px 8px 0;
    }
}
