 /* button[type='button'] {
    color: white;
    background-color: #1677ff !important;
    box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
} */

.time{
    border:  2px solid rgb(223, 223, 223) !important;
     
  }
.ant-btn{
        background-color: #1081E8 !important;
    }